<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome</h1>
    <p>Welcome to <%= title %><br><br>Written by:Mukesh Bhargav for Test Task</p>
  </body>
</html>
